/SeckillPro/SeckillPro.Web/bin
/SeckillPro/SeckillPro.Web/obj
/SeckillPro/SeckillPro.Web/SeckillPro.Web.csproj.user
/SeckillPro/SeckillPro.Server/bin
/SeckillPro/SeckillPro.Server/obj
/SeckillPro/SeckillPro.Web/obj/Debug
/SeckillPro/SeckillPro.Web/bin/Debug
/SeckillPro/SeckillPro.Web/bin/Release
/SeckillPro/.vs
/SeckillPro/SeckillPro.Api/bin
/SeckillPro/SeckillPro.Api/obj
/SeckillPro/SeckillPro.Com/bin
/SeckillPro/SeckillPro.Com/obj
